<h2 class="text-center">Your Shopping Cart </h2>

<div class="product-row black-border-row row" style="margin-bottom: 60px">
  <div class="container">
    <div class="shopping-cart">
      <%= render "shopping_cart" %>
    </div>

    <% unless @order_items.count == 0 %>
      <div class="checkout-calculations">
        <%= render "checkout_calculations" %>
      </div>
    <% end %>

  </div> <!-- page container -->
</div> <!-- product row -->

<script type="text/javascript">
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
