<h2 class="text-center">Order Confirmation</h2>

<div class="product-row black-border-row row" style="margin-bottom: 60px">
  <div class="container text-center">
    <h3>Your order has been placed!</h3>
    <p>To see this and all previous orders, go to your <%= link_to "dashboard", user_path(current_user) %>.</p>
  </div> <!-- page container -->
</div> <!-- product row -->

<script>
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
