<h2 class="text-center">Checkout</h2>

<div class="product-row black-border-row row" style="margin-bottom: 60px">
  <div class="container">
    <div class="row text-center">
      <%= link_to charges_shipping_path do %><div class="col-xs-3 inactive-step">
        <h2>1</h2>
        <p>Shipping<br class="visible-xs" /> Address</p>
      </div> <!-- col --><% end %>
      <%= link_to charges_address_path do %><div class="col-xs-3 inactive-step">
        <h2>2</h2>
        <p>Shipping<br class="visible-xs" /> Options</p>
      </div> <!-- col --><% end %>
      <div class="col-xs-3">
        <h2>3</h2>
        <p>Billing<br class="visible-xs" /> Information</p>
      </div> <!-- col -->
      <div class="col-xs-3 inactive-step">
        <h2>4</h2>
        <p>Order<br class="visible-xs" /> Confirmation</p>
      </div> <!-- col -->
    </div>

    <div class="row">
      <hr class="col-xs-6 col-xs-push-3" />
    </div>

  <div class="row">
    <%= render "shipping" %>
  </div> <!-- page container -->
</div> <!-- product row -->

<script>
  $(document).ready(function(){
    $(".footer").removeClass("top-shadow-inset");
  });
</script>
